@mixin button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 1.4rem;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4rem;
    cursor: pointer;
}
.btn{
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
    color: var(--color-body);
    font-weight: 700;
    position: relative;
    @include button;
    &-sec{
        @include button;
        background-color: transparent;
        border: 1px solid var(--color-tertiary);
        color: var(--color-tertiary);
    }
    &-tertiary{
        color: var(--color-tertiary);
        background-color: transparent;
        border: none;
        font-size: 1.4rem;
        @include button;
        padding: 0;
        &--plain{
            color: var(--color-text);
            background-color: transparent;
            border: none;
            font-size: 1.4rem;
            @include button;
            padding: 0;
        }
    }
}
