@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

.heading-1{
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--color-text);
}

.link{
    font-size: 1.6rem;
    color: var( color_text_light;
    font-weight: 400;
    &:hover{
        color: $color_text_light;
    }
    &-active{
        font-size: 1.6rem;
        color: $color_text;
        font-weight: 700;
    }
}
